<div class="row justify-content-center p-2">
  <div class="card col-5" *ngFor="let project of this.projects">
    <div class="card-body">
      <h5 class="card-title">{{project.name}}</h5>
      <h6 class="card-subtitle">{{project.id}}</h6>
      <a href="#"  class="btn btn-primary">Open</a>
    </div>
  </div>
  <div class="card col-5">
    <div class="card-body">
      <h5 class="card-title">New project</h5>
      <h6 class="card-subtitle">ss</h6>
      <a href="#" class="btn btn-primary">Create</a>
    </div>
  </div>
</div>

