<div *ngIf="!this.adLoaded(); then progressBarBlock else adBlock"></div>
<ng-template #progressBarBlock>
  <progress class="progress is-small is-primary" max="100"></progress>
</ng-template>
<ng-template #adBlock>

  <section class="section is-centered">
    <h1 class="title">Settings</h1>
    <h2 class="subtitle">
    </h2>
  </section>

  <div class="columns is-centered">
  <div class="column is-4">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="this.ad.name">
      </div>
    </div>

    <div class="field">
      <label class="label">ID</label>
      <div class="control">
        <input class="input" type="text" disabled placeholder="{{this.ad.id}}">
      </div>
    </div>

    <div class="field">
      <label class="label">Project ID</label>
      <div class="control">
        <input class="input" type="text" disabled placeholder="{{this.ad.projectId}}">
      </div>
    </div>

    <div class="field">
      <label class="label">Url</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="this.ad.url">
      </div>
    </div>

    <div class="field" *ngIf="this.fileLoaded()">
      <label class="label">Ad material</label>

      <div class="control">
        <figure class="image is-256x256">
          <img *ngIf="this.crosspService.isFileImage(this.file)" src="{{this.crosspService.getFileSrc(this.file.path)}}">
          <video *ngIf="this.crosspService.isFileVideo(this.file)" src="{{this.crosspService.getFileSrc(this.file.path)}}" autoplay [muted]="'muted'" loop> </video>
        </figure>
      </div>
    </div>

    <div class="field" *ngIf="this.possibleAdFilesLoaded()">
      <label class="label">Ad material variants</label>
      <div class="control">
        <div class="select">
          <select #fileSelect [(ngModel)]="this.file">
            <option *ngFor="let file of this.possibleAdFiles" [ngValue]="file">{{file.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="field is-grouped is-grouped-centered">
      <div class="control">
        <button class="button is-link is-success" (click)="putAd()">Save</button>
      </div>
      <div class="control">
        <button class="button is-link is-danger" (click)="deleteAd()">Delete</button>
      </div>
    </div>



  </div>
</div>

  <section class="section is-centered">
    <h1 class="title is-centered">Analytics</h1>
    <h2 class="subtitle">
    </h2>
  </section>
  
  <div class="field is-grouped is-grouped-centered">
    <label class="label">Date range</label>
    <div class="control">
      <input type="date" [(ngModel)]="this.dateFrom">
      <input type="date" [(ngModel)]="this.dateTo">
      <button class="button is-link is-success" (click)="updateAnalytics()">Update</button>
    </div>
  </div>


  <label class="label">Total clicks: {{totalClicks}}</label>
  <div class="columns is-centered">
    <div class="column is-8">
      <div echarts [options]="chartClicksOption" class="demo-chart"></div>
    </div>
  </div>

  <label class="label">Total show: {{totalShow}}</label>
  <div class="columns is-centered">
    <div class="column is-8">
      <div echarts [options]="chartShowOption" class="demo-chart"></div>
    </div>
  </div>

</ng-template>







