<div class="columns is-centered">
  <div class="column is-4">
    <div class="field">
      <label class="label">Name</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="this.ad.name">
      </div>
    </div>

    <div class="field">
      <label class="label">ID</label>
      <div class="control">
        <input class="input" type="text" disabled placeholder="{{this.ad.id}}">
      </div>
    </div>

    <div class="field">
      <label class="label">Project ID</label>
      <div class="control">
        <input class="input" type="text" disabled placeholder="{{this.ad.projectId}}">
      </div>
    </div>

    <div class="field">
      <label class="label">Url</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="this.ad.url">
      </div>
    </div>

    <div class="field">
      <label class="label">Img</label>

      <div class="control">
        <figure class="image is-256x256">
          <img *ngIf="this.crosspService.isFileImage(this.file)" src="{{this.crosspService.getFileSrc(this.file.path)}}">
          <video *ngIf="this.crosspService.isFileVideo(this.file)" src="{{this.crosspService.getFileSrc(this.file.path)}}" autoplay [muted]="'muted'" loop> </video>
        </figure>
      </div>
    </div>

    <div class="field">
      <label class="label">Subject</label>
      <div class="control">
        <div class="select">
          <select>
            <option *ngFor="let file of this.possibleAdFiles">{{file.name}}</option>
          </select>
        </div>
      </div>
    </div>



    <div class="field is-grouped">
      <div class="control">
        <button class="button is-link is-success" (click)="putAd()">Save</button>
      </div>
    </div>

  </div>
</div>


