<div *ngIf="!this.filesLoaded(); then progressBarBlock else projectsBlock"></div>
<ng-template #progressBarBlock>
  <progress class="progress is-small is-primary" max="100"></progress>
</ng-template>
<ng-template #projectsBlock>


  <div class="columns is-centered">

    <div class="column is-2">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Empty
          </p>
        </header>
        <div class="card-content">
          New file
          <br>
          <progress *ngIf="uploadingImg" class="progress is-success" value="{{this.uploadingImgProgress}}" max="100"></progress>
          <input type="file" #file placeholder="Choose file" (change)="uploadFile(file.files)" style="display:none;">
        </div>
        <footer class="card-footer">
          <a class="card-footer-item" (click)="file.click()">Upload</a>
        </footer>
      </div>
    </div>

    <div class="column is-2" *ngFor="let file of this.files">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{file.name}}
          </p>
        </header>
        <div class="card-content">
          <figure class="image is-64x64">
            <img src="{{this.crosspService.getFileSrc(file.path)}}">
          </figure>
          ID: {{file.id}}
          Extension: {{file.extension}}
        </div>
        <footer class="card-footer">
          <a (click)="deleteFile(file.id)"class="card-footer-item">Delete</a>
        </footer>
      </div>
    </div>
  </div>
</ng-template>




