<div *ngIf="!this.projectsLoaded; then progressBarBlock else projectsBlock"></div>
<ng-template #progressBarBlock>
  <progress class="progress is-small is-primary" max="100"></progress>
</ng-template>
<ng-template #projectsBlock>
  <div class="columns is-multiline">

    <div class="column is-3">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            Empty
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            New project
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" (click)="createProject()" class="card-footer-item">Create</a>
        </footer>
      </div>
    </div>

    <div class="column is-3" *ngFor="let project of this.projects">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title">
            {{project.name}}
          </p>
        </header>
        <div class="card-content">
          <div class="content">
            ID: {{project.id}}
          </div>
        </div>
        <footer class="card-footer">
          <a href="#" [routerLink]="['/project', project.id]" class="card-footer-item">Open</a>
        </footer>
      </div>
    </div>

  </div>
</ng-template>

